<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Boxscore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <!-- Bootstrap core CSS -->
    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <!--<link href="https://v4-alpha.getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet"/>-->
</head>
<body>
<div class="container-fluid">
    <th:block th:each="game : ${games}">
        <table class="table table-striped">
            <tr>
                <th th:text="${game.home.team.name}">HOME</th>
                <th th:text="${game.home.stats.points}" th:if="${game.home.stats != null}">100</th>
                <th>:</th>
                <button type="button" class="btn btn-aramark-primary" onclick="location.href=location.href + '/mini'">Mini</button>
                <th th:text="${game.away.stats.points}" th:if="${game.away.stats != null}">100</th>
                <th th:text="${game.away.team.name}">AWAY</th>
                <th th:text="${game.period}"></th>
                <th th:text="${game.clock}"></th>
            </tr>
        </table>
        <table class="small">
            <td valign="top">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>POS</th>
                        <th>#</th>
                        <th>NAME</th>
                        <th th:each="key : ${keys}" th:text="${key}"/>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="playerSt : ${game.home.playerStats}">
                        <td th:text="${playerSt.player.position}">Position</td>
                        <td th:text="${playerSt.player.nr}">NR</td>
                        <td th:text="${playerSt.player.firstName} + ' ' + ${playerSt.player.lastName}">Name</td>
                        <th:block th:each="ent : ${playerSt.stats.map}">
                        <td th:text="${ent}">ENT</td>
                        </th:block>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td/>
            <td valign="top">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>POS</th>
                        <th>#</th>
                        <th>NAME</th>
                        <th th:each="key : ${keys}" th:text="${key}"/>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="playerSt : ${game.away.playerStats}">
                        <td th:text="${playerSt.player.position}">Position</td>
                        <td th:text="${playerSt.player.nr}">NR</td>
                        <td th:text="${playerSt.player.firstName} + ' ' + ${playerSt.player.lastName}">Name</td>
                        <th:block th:each="ent : ${playerSt.stats.map}">
                            <td th:text="${ent}">ENT</td>
                        </th:block>
                    </tr>
                    </tbody>
                </table>
            </td>
        </table>
    </th:block>
</div>
</body>
</html>